<?php 
//General configuration
date_default_timezone_set('Europe/Istanbul');
$clusters = ["HPC1", "HPC2"];
$descs = [
"15 compute nodes, 692 CPU Cores, 5.891 TB Memory, 384 TB Storage (+33.4 TB Local Storage), 19 GPUs, 102368 GPU Cores", //description of HPC1
"16 compute nodes, 240 CPU Cores, 4.3 TB Memory, 64 TB Storage, 12 GPUs, 29952 GPU Cores" //description of HPC2
];

//Database configuration
$database="database_name";
$host="localhost";
$user="username";
$password="password";

?>
