<?php
$node_array = array ("login","cn01","cn02","cn03","cn04","cn05","cn06","cn07","cn08","cn09","cn10","cn11","cn12","cn13","cn14","cn15","cn16");
$home_ip = "1.2.3.4"; //ip address of the storage unit (preferably the fast interconnect ip address such as infiniband, RoCE etc.)
// if there are multiple storage units choose one.
$recording_host = "http://xxx.xxx.xxx/"; //the url or the ip address of the web interface
//the web interface both collects the data via http/s port and serves as the performance GUI
$mysql_host = "xxx.xxx.xxx.xxx"; //the ip address of the mysql host. If the mysql server is on the hosting then it is the ip address of the server
//port 3306 should be open for remote mysql access
$mysql_user = "xxxx"; //the mysql username and password on the hosting server
$mysql_pwd = "xxxx";
?>
